.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

@media screen and (min-device-pixel-ratio: 2) and (max-widhth: 767px),
  screen and (min-resolution: 192dpi) and (max-widhth: 767px),
  screen and (min-resolution: 2dppx) and (max-widhth: 767px) {
  .section-one {
    background-image: url(../images/hero/hero_img_mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-widhth: 768px),
  screen and (min-resolution: 192dpi) and (min-widhth: 768px),
  screen and (min-resolution: 2dppx) and (min-widhth: 768px) {
  .section-one {
    background-image: url(../images/hero/hero_img_tab@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-widhth: 1158px),
  screen and (min-resolution: 192dpi) and (min-widhth: 1158px),
  screen and (min-resolution: 2dppx) and (min-widhth: 1158px) {
  .section-one {
    background-image: url(../images/hero/hero_img@2x.jpg);
  }
}


/* ======================MOBILE====================== */

@media screen and (max-width:767px){
  .header-list {
    display: none;
  }
  .address {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    max-height: 796px;
    top: 0;
    left: 0;
    background-color: #fcfcfc;
    border-radius: 4px;
    opacity: 0;
    padding: 80px 40px 40px;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visability 250ms cubic-bezier(0.4, 0, 0.2, 1);


    
  }

  .mobile-menu-open {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;

  

  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
       }

    @keyframes ani{0%{translateY: (-100%);}
    100%{transform: translateY(0);}}

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #e7e9fc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-icon {
    stroke: #2e2f42;
  }
  
  .mobile-menu-address-item{font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
  
  .mobile-menu-address-item:not(:last-child) {margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;}

  .mobile-menu-address{margin-bottom: 48px;}

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .mobile-menu-address-link{color: #434455;}

  .mobile-menu-address-link:hover,
  .mobile-menu-address-link:focus {
    color: #404bbf;
  }

  .mobile-menu-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }

  .mobile-menu-soc-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .mobile-menu-soc-icon {
    fill: #f4f4fd;
  }

  .mobile-menu-list {
    color: #2e2f42;
  }

  .mobile-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

}

@media screen and (max-width: 1157px){
  .icon_cntr {display: none;}

  .section-three {
    display: none;}}

@media screen and (min-width: 320px) {
      
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25.5px;
    padding-bottom:23.5px;
    
  }
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
  }
  .second-logo {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  }

    /* SECTION 1-MOBILE*/
  .section-one {
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;

    background-size: cover;
    background-color: #2e2f42b2;
    max-width: 428px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hero_img_mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-h {
    max-width: 320px;
    margin: auto;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .modal-btn {
    min-width: 169px;
    height: 56px;
    display: inline-block;
    border: none;
    background-color: #4d5ae5;
    padding: 16px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* SECTION 2-MOBILE*/
  .section-two {
    padding: 96px 0 96px;
  }
  .section_two_list {
    display: flex;
    flex-direction: column;
  }

  .section-two-object:not(:last-child) {
    margin-bottom: 72px;
  }

  .section_two_item {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
  }

  .section_two_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* SECTION 3-MOBILE*/
 

  /* SECTION 4-MOBILE*/
  .section_four {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section_four_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .position_container {
    background-color: #ffffff;
    padding: 32px 0;
  }
  .section_four_item:not(:first-child) {
    margin-top: 72px;
  }
  .section_four_h {
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .section_four_item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .name {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
  }

  .position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
  }

  .social_list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social_list_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social_list_link:hover,
  .social_list_link:focus {
    background-color: #404bbf;
  }

  .social_list_icon {
    fill: #f4f4fd;
  }

  /* SECTION 5-MOBILE*/

  .section_five {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section_five_h {
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
  }
  .costomers_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .costumers_link {
    width: 190px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    height: 88px;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .costomers_list_icon {
    fill: currentColor;
  }

  .costumers_link:hover,
  .costumers_link:focus {
    border-color: #404bbf;
  }

  .costumers_link:hover,
  .costumers_link:focus {
    color: #404bbf;
  }

  /* FOOTER-MOBILE*/
  .logo-footer {
    display: block;
    margin-bottom: 16px;
    margin-left: 25%;
  }

  .second-logo-footer {
    font-size: 18px;
    line-height: 1.1;
    color: #f4f4fd;
  }

  .footer {
    background-color: #2e2f42;
    padding: 97.5px 0 96px;
  }

  .footer_container {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social_media_text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }

  .social_list_footer {
    display: flex;
    gap: 16px;
  }

  .social_list_link_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }

  .social_list_link_footer:hover,
  .focus {
    background-color: #31d0aa;
  }

  .footer_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    height: 72px;
  }

  .footer-form-h {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .footer-form-mail {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2e2f42;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }

  .footer-form-mail::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }

  .footer-form-mail:focus {
    outline: none;
  }

  .footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-form-btn:hover,
  .footer-form-btn:focus {
    background-color: #404bbf;
  }

  /* MODAL */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 36px);
    max-width: 392px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
  }

  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
  }

  .modal-close-btn-icon:hover,
  .modal-close-btn-icon:focus {
    fill: (--accent-color);
  }

  .modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #2e2f42;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
  }

  .modal-form-field {
    margin-bottom: 8px;
  }

  .modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #8e8f99;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
  }

  .modal-form-input-wrapper {
    position: relative;
    display: block;
  }

  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-input:focus + .modal-form-input-icon {
    fill: #4d5ae5;
  }

  .modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
  }

  .modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(46, 47, 66, 0.4);
  }

  .modal-form-message:focus {
    outline: none;
    border-color: #4d5ae5;
  }

  .modal-form-check-desc {
   font-size: 12px;
    margin-bottom: 24px;
  }

  .modal-form-check-desc:focus,
  .modal-form-check-desc:focus-visible {
    outline: none;
  }

  .modal-form-check-desc::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
    vertical-align: middle;
  }

  .modal-form-check:checked + .modal-form-check-desc::before {
    background-image: url('../images/checkbox.svg');
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  .modal-form-check:focus + .modal-form-check-desc {
    outline: 2px solid #4d5ae5;
  }

  .privat_policy {
    color: #4d5ae5;
  }

  .modal-form-submit {
    min-width: 169px;
    align-self: center;
    height: 56px;
    display: inline-block;
    border: none;
    background-color: #4d5ae5;
    padding: 16px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-submit:hover,
  .modal-form-submit:focus {
    background-color: #404bbf;
  }
}

/* ======================TABLET====================== */

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-container {
    width: 768px;
    padding: 0 15px 0 15px;}

  .page-nav {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  .header-link {
    padding: 24px 0 24px;
  }
  .header-link:not(:last-child) {
    margin-right: 40px;
  }
  .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    cursor: pointer;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .header-item:hover,
  .header-item:focus {
    color: #404bbf;
  }
  .header-item-studio {
    color: #404bbf;
  }
  .header-item-studio::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .address {
    font-style: normal;
  }
  .list_adrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .address_item {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address_item:hover,
  .address_item:focus {
    color: #404bbf;
  }
  /* SECTION 1 - TABLET */
  .section-one {
    max-width: 768px;
  }
  .section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero_img_tab.jpg');
  }

  .main-h {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }
  /* SECTION 2 - TABLET  */
  .section_two_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
  }

  .section-two-object {
    display: block;
    width: 356px;
    height: 120px;
  }

  .section_two_item {
    text-align: left;
  }
  /* SECTION 3 - TABLET  */
  /* SECTION 4 - TABLET  */
  .section_four_item:not(:first-child) {
    margin-top: 0px;
  }
  .section_four_list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }

  /* SECTION 5 - TABLET */
  .costomers_list {
    row-gap: 72px;
    column-gap: 24px;
  }

  /* FOOTER - TABLET  */
  .logo-footer {
    margin-left: auto;
  }

  .footer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: center;
    justify-content: center;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .foot_soc_container {
    margin-bottom: 32px;
  }

  .footer-form {
    margin-right: 40px;
  }

  .footer-form-h {
    text-align: left;
  }

  .social_media_text {
    text-align: left;
  }

  /* MODAL- TABLET */

  .modal {
    width: 408px;
  }
}

/* ======================DESCTOP====================== */
/* HEADER -DESCTOP */
@media screen and (min-width: 1158px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-container {
    width: 1158px;
    
  }
  .address_item {
    letter-spacing: 0.02em;
  }

  .list_adrs {
    flex-direction: row;
    gap: 40px;
  }
  .mail {
    margin-right: 40px;
  }
/* SECTION 2 -DECSTOP */
  .section-one {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/hero_img.jpg');
  }
  .main-h {
    margin-bottom: 48px;
  }
/* SECTION 2 -DECSTOP */  
  .section-two {
    padding: 120px 0 120px;
  }

  .section_two_item {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .icon_cntr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .section_two_list {
    flex-wrap: nowrap;
  }

  .section-two-object {
    width: calc((100%-72px) / 4);
  }

  .section-two-object:not(:last-child) {
    margin-right: 24px;
  }
  /* SECTION 3 -DECSTOP */  
  .section-three {
    padding-bottom: 120px;
  }

  .section-three-list {
    display: flex;
  }

  .section_three_images {
    width: calc((100%-48px) / 3);
  }

  .section_three_images:not(:last-child) {
    margin-right: 24px;
  }
  .section_three_h {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
/* SECTION 4 -DECSTOP */  
  .section_four_item:not(:last-child) {
    margin-right: 24px;
  }
  .section_four_item:not(:last-child) {
    margin-right: 24px;
  }
  .section_four_list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: nowrap;
  }
/* SECTION 5 -DECSTOP */  
  .section_five {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .costumers_item {
    width: calc((100% - 120px) / 6);
  }

  .costumers_link {
    width: 100%;
  }

  .costomers_list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
/* FOOTER -DECSTOP */  
   .footer_container {
    flex-wrap: nowrap;
    gap: 16px;
    align-items: baseline;
  }
  .foot_soc_container {
    margin-right: 80px;
  }

  .foot_logo_container {
    margin-right: 120px;
  }

  .footer-form {
    margin-right: 0px;
  }
}


/* ------HEADER------ */
/*
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1152px;
  padding-left: 12px;
  padding-right: 12px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1158px;
  padding: 0 15px 0 15px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-link {
  padding: 24px 0 24px;
}
.header-link:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.second-logo {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  cursor: pointer;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-item:hover,
.header-item:focus {
  color: #404bbf;
}
.header-item-studio {
  color: #404bbf;
}
.header-item-studio::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address {
  font-style: normal;
}
.list_adrs {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address_item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address_item:hover,
.address_item:focus {
  color: #404bbf;
}
.mail {
  margin-right: 40px;
}*/
/* ------SECTION ONE------ */
/*
.section-one {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hero_img.jpg');
  background-size: cover;
  background-color: #2e2f42b2;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

.main-h {
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  display: inline-block;
  border: none;
  background-color: #4d5ae5;
  padding: 16px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;}*/
/* ------SECTION TWO------ */
/*
.section-two {
  padding: 120px 0 120px;
}

.section_two_list {
  display: flex;
}

.icon_cntr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-two-object {
  width: calc((100%-72px) / 4);
}

.section-two-object:not(:last-child) {
  margin-right: 24px;
}

.section_two_item {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section_two_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */
/* ------SECTION THREE------ */
/*
.section-three {
  padding-bottom: 120px;
}

.section-three-list {
  display: flex;
}

.section_three_images {
  width: calc((100%-48px) / 3);
}

.section_three_images:not(:last-child) {
  margin-right: 24px;
}

.section_three_h {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
*/
/* ------SECTION FOUR------ */
/*
.section_four {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section_four_list {
  display: flex;
}

.position_container {
  background-color: #ffffff;
  padding: 32px 0;
}

.section_four_item:not(:last-child) {
  margin-right: 24px;
}

.section_four_h {
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section_four_item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name {
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.social_list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social_list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_list_link:hover,
.social_list_link:focus {
  background-color: #404bbf;
}

.social_list_icon {
  fill: #f4f4fd;
}
*/
/* ------SECTION FIVE------ */
/*
.section_five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section_five_h {
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.costomers_list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.costumers_link {
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costomers_list_icon {
  fill: currentColor;
}

.costumers_item {
  width: calc((100% - 120px) / 6);
}

.costumers_link:hover,
.costumers_link:focus {
  border-color: #404bbf;
}

.costumers_link:hover,
.costumers_link:focus {
  color: #404bbf;
}
*/
/* ------FOOTER------ */
/*
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.second-logo-footer {
  font-size: 18px;
  line-height: 1.1;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer_container {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.foot_logo_container {
  margin-right: 120px;
}

.social_media_text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}
.social_list_footer {
  display: flex;
  gap: 16px;
}

.foot_soc_container {
  margin-right: 80px;
}

.social_list_link_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social_list_link_footer:hover,
.focus {
  background-color: #31d0aa;
}

.footer_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}

.footer-form-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-form-mail {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}

.footer-form-mail::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}

.footer-form-mail:focus {
  outline: none;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}*/

/*================ PORTFOLIO SECTION ================*/

.portfolio-section {
  padding: 96px 0 120px;
}

.header-item-portfolio {
  color: #404bbf;
}
.header-item-portfolio::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.portfolio_buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 50ms cubic-bezier(0.4, 0, 0.2, 1),
    border 50ms cubic-bezier(0.4, 0, 0.2, 1), background-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_btn:hover,
.portfolio_btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list_img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio_link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img_overlay {
  position: relative;
  overflow: hidden;
}

.portfolio_link:hover,
.portfolio_link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img_item {
  width: calc((100% - 48px) / 3);
}

.img_item:hover .overlay {
  transform: translate(0, 0);
}

.text_container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio_h {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio_text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #4d5ae5;
}

/* MODAL WINDOW */
/*  
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale (1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus {
  fill: (--accent-color);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/*================ MODAL FORM ================*/
/*
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #8e8f99;
  font-weight: 400;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 24px;
}

.modal-form-check-desc:focus,
.modal-form-check-desc:focus-visible {
  outline: none;
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url('../images/checkbox.svg');
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form-check:focus + .modal-form-check-desc {
  outline: 2px solid #4d5ae5;
}

.privat_policy {
  color: #4d5ae5;
}

.modal-form-submit {
  min-width: 169px;
  align-self: center;
  height: 56px;
  display: inline-block;
  border: none;
  background-color: #4d5ae5;
  padding: 16px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}

*/

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
